In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np

In [ ]:
##Dataset: https://www.kaggle.com/datasets/adeelsherazi/car-price-analysis

In [17]:
#CSV Imports

#Andrew's Import
cars = pd.read_csv(r'C:\Users\andre\Downloads\Car Prices\automobile.csv')

In [18]:
cars.shape

(201, 26)

In [19]:
cars.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450

In [20]:
cars.isna().sum()

symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [21]:
cars.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [22]:
#Assign columns that are continuous and categorical 
con = cars.select_dtypes(include=['float64','int64']).columns
cat = cars.select_dtypes(include=['object']).columns

In [23]:
#View the categorical variables and their cardinality 
for col in list(cat):
    print(col)
    print(cars[col].value_counts())
    print('\n')

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              6
saab              6
porsche           4
jaguar            3
chevrolet         3
alfa-romero       3
isuzu             2
renault           2
mercury           1
Name: make, dtype: int64


fuel-type
gas       181
diesel     20
Name: fuel-type, dtype: int64


aspiration
std      165
turbo     36
Name: aspiration, dtype: int64


num-of-doors
four    113
two      86
Name: num-of-doors, dtype: int64


body-style
sedan          94
hatchback      68
wagon          25
hardtop         8
convertible     6
Name: body-style, dtype: int64


drive-wheels
fwd    118
rwd     75
4wd      8
Name: drive-wheels, dtype: int64


engine-location
front    198
rear       3
Name: engine-location, dtype: int64


engine-type
ohc      145
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
Name: engine-type, dtype: int64


num-of-cylinders
four      157
six        24
five       10
two         4
eight       4
three       1
twelve      1
Name: num-of-cylinders, dtype: int64


fuel-system
mpfi    92
2bbl    64
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuel-system, dtype: int64

In [ ]:
# Plan for pre-processing the data

# - Manipulate any of the categorical variables? 
# - Decide what columns to keep. Do this by visualizing and looking at correlation
# - Figure out what to do with the null values
# - Clean/alter the data to assure each feature is in the format we want it to be in

In [27]:
#Group normalized losses by make and replace NA's with the mean of each group 
cars['normalized-losses'] = cars['normalized-losses'].fillna(
    cars.groupby('make')['normalized-losses'].transform('mean'))

In [29]:
cars[cars['normalized-losses'].isna()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
42,0,NaN,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78.0,4800.0,24,29,6785
43,2,NaN,isuzu,gas,std,two,hatchback,rwd,front,96.0,...,119,spfi,3.43,3.23,9.2,90.0,5000.0,24,29,11048
72,1,NaN,mercury,gas,turbo,two,hatchback,rwd,front,102.7,...,140,mpfi,3.78,3.12,8.0,175.0,5000.0,19,24,16503
126,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
127,2,NaN,renault,gas,std,two,hatchback,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9895

In [33]:
#Fill remaining NA's with overall mean
cars['normalized-losses'] = cars['normalized-losses'].fillna(cars['normalized-losses'].mean())

In [34]:
cars.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 4
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [11]:
#Change number of doors and number of cylinders to continuous values

# cars['num-of-doors'] = cars['num-of-doors'].replace(['two'], 2)
# cars['num-of-doors'] = cars['num-of-doors'].replace(['four'], 4)

# cars['num-of-cylinders'] = cars['num-of-cylinders'].replace(['four'], 4)
# cars['num-of-cylinders'] = cars['num-of-cylinders'].replace(['six'], 6)
# cars['num-of-cylinders'] = cars['num-of-cylinders'].replace(['five'], 5)
# cars['num-of-cylinders'] = cars['num-of-cylinders'].replace(['two'], 2)
# cars['num-of-cylinders'] = cars['num-of-cylinders'].replace(['eight'], 8)
# cars['num-of-cylinders'] = cars['num-of-cylinders'].replace(['three'], 3)
# cars['num-of-cylinders'] = cars['num-of-cylinders'].replace(['twelve'], 12)